/* IssuesScreen.css */

.top_heading_container_issues {
  display: flex;
  justify-content: space-between;
  width: 60%;
  cursor: pointer;
  margin-left: 4.5%;
}
.top_heading_container_issues h2 {
  cursor: pointer;
}

.active_heading {
  color: black;
  border-bottom: 5px solid #426099;
}

.issue_adder button {
  background-color: #5656bd;
  color: white;
  border-radius: 20px;
  width: 121px;
  height: 43px;
  font-weight: 800;
  cursor: pointer;
}

.top_right_logos_container_issues {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 15%;
}

.top_right_logos_issues {
  display: flex; /* Added flex display to center the content vertically */
  align-items: center; /* Center vertically */
  justify-content: center; /* Center horizontally */
  margin-right: 3px;
  width: 50px;
  height: 50px;
  border-radius: 50%; /* Use 50% for a perfect circle */
}

.table_issues {
  width: 91%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin: auto auto;
}

.header_issues {
  display: flex;
  justify-content: space-between;
  align-items: baseline; /* Align the header cells with their respective pointer */
}
.header_issues h3 {
  color: black;
  font-weight: 200;
  font-size: 17px;
  margin-bottom: 5px;
}
.header_item_issues {
  margin-left: 125px;
  position: relative;
  left: 90px;
}
.header_item1_issues {
  margin-left: 36%;
}
.header_item2_issues {
  margin-right: 16%;
}
.cell_text_issues {
  font-weight: 100;
}

.body_issues {
  display: flex;
  flex-direction: column;
}

.row_issues {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  margin: 15px 0;
  border-radius: 10px;
  padding: 1%;
  transition: background-color 0.3s ease;
  gap: 15px;
}
.additional_contents_issuerow {
  height: 30vh;
}
.comments_container_issues {
  display: block;
}
.row_issues:hover {
  background-color: #f0f0f0;
}

.cell_issues {
  flex: 1;
  padding: 12px;
  text-align: left;
  word-break: break-word;
  margin-left: 3%;
}

.cell_issues p {
  color: rgb(116, 116, 116);
  font-size: 18px;
}

.cell_issue_issues {
  flex: 3 1;
  margin-left: 40px;
}

.cell_issue_issues p {
  color: black;
  font-size: 18px;
}

.cell_checkbox_issues {
  width: 80px;
}

.resolved_checkbox_issues {
  appearance: none;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 2px solid #8b8e90;
  outline: none;
  cursor: pointer;
  position: relative;
  transition: background-color 0.3s ease, color 0.3s ease; /* Added transition for smoother effect */
}

.resolved_checkbox_issues:checked {
  background-color: orange; /* Set the background color to orange when checked */
}
.resolved_label_issues {
  display: inline;
  color: orange;
  font-size: 14px;
  font-weight: 700;
}

.resolved_checkbox_issues:checked::before {
  content: "\2713";
  font-size: 20px;
  color: white; /* Set the text color to white */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.row_issues:hover .resolved_label_issues {
  display: inline;
}
.utility {
  display: flex;
  justify-content: center;
  padding: 20px;
  position: relative;
}
